.container-projects{
    position: relative;
    width: 75%;
    margin: auto;
    margin-top: 30px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 12px;
    margin-top: 82px;
}